body {
  color: #000080;
  background-color: #ffffff;
}

a {
  color: #800080;
}

a:visited {
  color: #ff0000;
}

span {
  font-size: 0.75em;
  color: #000080;
}

h1 {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center; 
}

h1 span {
  display: block;
}

h1 span span {
  display: inline;
  font-size: 2.5em;
}

img {
  width:75px;
  height:15px;
  margin:auto;
  display: block;
  }
  
  #geico {
    font-size: 0.65em;
    text-align: center;
  }
  
  .horizontal {
     height: 3px;
     background-color: #fff;
     border-bottom: solid #CCCCCC;
     border-bottom-width: 1px;
     width: 100%;
}

